*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
}

.navbar{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px 300px 20px 300px;
    background-color: #5B84B1FF;
}

.navbar li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 18px;
    
}
.navbar li a:hover{
    color: #FC766AFF;
    cursor: pointer;
    
}

.prof{
    padding-top: 70px;
    
}

.profile {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    background-color: #fff;
    margin: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.profile-picture {
    border-radius: 50%;
    width: 170px;
    height: 170px;
    margin-right: 2rem;
}

.profile-info {
    margin: 0px;
    font-size: 18px;    
}

.profile-info p a{
    text-decoration: none;
    color: black;
    
}

.details {
    margin: 1rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
    padding: 2rem;
}

.gallery {
    margin: 1rem;
    padding: 2rem;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #fff;
}

.gallery .photos {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    padding: 1rem;
}

.gallery .photos img {
    width: 270px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

.gallery li {
    padding-bottom: 10px;
}

#education li {
    padding-bottom: 10px;
}

#skills li {
    padding-bottom: 10px;
    text-transform: uppercase;
}

#hobby li  {
    text-transform: uppercase;
    padding-bottom: 10px;
}



footer {
    background-color: #5B84B1FF ;
    color: #fff;
    padding: 10px 0;
}

.footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.footer-about,
.footer-links,
.footer-social {
    flex: 1;
    margin: 10px;
}

.footer-about p,
.footer-links ul,
.footer-social a {
    margin: 10px 0;
}

.footer-links ul {
    list-style-type: none;
    padding: 0;
}

.footer-links ul li {
    margin: 5px 0;
}

.footer-links ul li a,
.footer-social a {
    color: #fff;
    text-decoration: none;
}

.footer-social a {
    display: block;
}

.footer-bottom {
    text-align: center;
    padding: 5px 0;
    border-top: 1px solid #fff;
}

.footer-bottom p {
    margin: 0;
}